language: python
python:
  - "2.7"
before_install:
  - sudo apt-get install gfortran liblapack-dev python-scipy libblas-dev
install: 
  - pip install numpy
  - pip install scipy
  - pip install matplotlib
  - pip install Cython
  - pip install argparse
  - pip install pandas
  - pip install patsy
  - pip install --no-deps pymc
  - pip install --no-deps git+https://github.com/hddm-devs/kabuki@develop
  - python setup.py build_ext --inplace
script: 
  - nosetests -s hddm/tests/test_likelihoods.py
  - nosetests -s hddm/tests/test_generate.py
  - nosetests -s hddm/tests/test_models.py
