include README.rst INSTALL.rst setupegg.py
recursive-include hddm *.py
include scripts/*.py
include src/*.c
include src/*.pyx
include src/*.pxi
recursive-include docs *.rst
global-exclude .git
global-exclude *~
global-exclude *.pyc
