include README.rst INSTALL.rst LICENSE setupegg.py
include hddm *.py
include hddm/models *.py
recursive-include hddm/examples *.py *.csv *.conf *.png
include scripts/*.py
include src/*.c
include src/*.h
include src/*.pyx
include src/*.pxi
recursive-include docs *.rst
global-exclude .git
global-exclude *~
global-exclude *.pyc
global-exclude .#*
