cython>=0.20
numpy>=1.20.1
scipy>=1.6.1
pandas>=1.0.0
seaborn>=0.11.0 
statsmodels>=0.12.0
scikit-learn>=0.24
tqdm>=4.1.0
patsy>=0.5.1
matplotlib>=1.1.0
pymc>=2.3.8,<3
git+https://github.com/AlexanderFengler/ssm_simulators@main
git+https://github.com/hddm-devs/kabuki