numpy>=1.20.1
ipython
matplotlib
sphinx_rtd_theme
sphinxcontrib-bibtex
myst-parser
traits
traitlets
traitsui
PyQt5
git+https://github.com/AlexanderFengler/ssm_simulators@main
git+https://github.com/hddm-devs/kabuki
#wxpython